/* Add a black background color to the top navigation */
.Navigation {
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    border-spacing: 10px;
    display: block;
    padding: 0px 30px;
    box-sizing: border-box;
  }

.Logo {
    background-color: rgb(0, 0, 0);
    padding-right: 10px;
    height: 55px;
    float: left;
    margin-left: 0%;
}

.Logo img {
    height: 100%;
}

.Navigation nav {
    height: 100%;
  }

.Navigation ul {
    list-style: none;
    margin: 0;
    margin-bottom: 0%;
    padding-bottom: 0%;
    text-align: center;
    display: inline-flex;
}

  /* Style the links inside the navigation bar */
.Navigation li {
  float: left;
  padding-top: 0%;
  height: 100%;
  text-align: center;
  padding: 18px 20px;
  font-size: 13px;
}
  
  /* Change the color of links on hover */
.Navigation li:hover {
  background-color: rgb(146, 143, 143);
}

.Navigation a {  
  text-decoration: none;
  color: white;
}
  