.Input {
    width: 100%;
    padding: 5px;
    box-sizing: content-box;
}

.Label {
    font-weight: bold;
    display: block;
    float: left;
    text-align: right;
    width: 200px;
    margin-right:15px;
}

.InputElement {
    outline: none;
    margin-left: 0%;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 6px;
    display: block;
    width: 200px;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}


