.Details {
    height: 100%;
    float: left;
    display: block;
    justify-content: center;
    width: 60%;
    margin-left: 230px;
    margin-bottom: 40px;
    margin-top: 20px;
    padding-bottom: 10px;
    overflow: -moz-hidden-unscrollable;
    background-color: rgb(236, 246, 255);
    border: 1px solid rgb(109, 109, 109);
    box-shadow: 0 2px 3px rgb(78, 78, 78);
    box-sizing: border-box;
    background-origin: padding-box;
    text-align: center;
}

.Vehicle {
    display: flex;
    padding: 10px;
    border: 2px solid rgb(109, 109, 109);
    margin: 20px;
    font-size: small;
}

.VehicleDetails {
    float: left;
}
