.Results {
    height: 100%;
    float: left;
    display: block;
    justify-content: left;
    width: 60%;
    margin-left: 230px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: rgb(236, 246, 255);
    border: 1px solid rgb(109, 109, 109);
    box-shadow: 0 2px 3px rgb(78, 78, 78);
    box-sizing: border-box;
    background-origin: padding-box;
    text-align: center;
    font-size: small;
}

.ResultsBody {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
}

.VehicleSummary {
    display: inline-flex;
    float: left;
    width: 90%;
    border: 2px solid rgb(36, 36, 36);
    margin: 0px;
    padding: 20px;
    font-size: small;
}

.InsuranceOptions {
    float: left;
}

.currSign:before { 
    content: '₹'; 
} 
